body {
    text-align: center;
    color: rgb(118, 231, 118);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #4b7a48;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23325933' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E"); */
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

main {
    background-color: rgba(59, 107, 47, 0.9);
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

span {
    color: azure;
}

img#plantImage {
    margin: 10px auto;
    display: block;
    max-width: 95%;
    max-height: 50vh;
}

div#userStats {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

div#userStats meter, div#userStats progress {
    width: 150px;
    padding: 0 10px;
    margin: 0 10px;
}

div#userStats span {
    margin: 0 10px;
}

/* div#turnButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
} */
/* 
div#turnButtons button {
    margin: 5px;
    padding: 2px;
    width: 150px;
    border-color: darkgreen;
    border-radius: 3px;
    background-color: rgb(170, 214, 160);
    color: rgb(23, 48, 23);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
} */

/* div#turnButtons button.active {
    background-color: yellowgreen;
} */

select {
    display: block;
    margin: 10px auto;
}

input#submit {
    height: 30px;
    width: 100px;
    margin-top: 20px;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    position:fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.overlay button {
    background-color: rgb(44, 44, 44);
    border-color: grey;
    color: white;
    font-size: large;
    border-radius: 2px;
    width: 25%;
    margin: 0 auto;
}

.overlay img {
    image-rendering:pixelated;
}

.overlay p {
    padding: 0 30px;
}

.overlay p b {
    color: red;
}

.overlay p i {
    color: lightgray;
}