body {
    text-align: center;
    background-color: rgb(59, 107, 47);
    color: rgb(118, 231, 118);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

span {
    color: azure;
}

img#plantImage {
    margin: 10px auto;
    display: block;
    max-width: 90vw;
    max-height: 300px;
}

div#userStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#userStats meter, div#userStats progress {
    width: 150px;
    padding: 0 10px;
}

div#turnButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

div#turnButtons button {
    margin: 5px;
    padding: 2px;
    width: 150px;
    border-color: darkgreen;
    border-radius: 3px;
    background-color: rgb(170, 214, 160);
    color: rgb(23, 48, 23);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

div#turnButtons button:active {
    background-color: yellowgreen;
}

div#partButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#partButtons button {
    margin: 5px;
    padding: 7px;
    background-color: lightgoldenrodyellow;
    border-color: rgb(169, 207, 93);
    border-radius: 3px;
    color: rgb(51, 38, 6);
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#partButtons button:active {
    background-color: yellow;
}

input#submit {
    height: 30px;
    width: 100px;
    margin-top: 20px;
}